API_KEY=
USER_ID=
# Both of these values are needed for this script to work

REPEAT_SCRIPT=False
# the script will constantly loop to check for new fresh data if set to True. otherwise will only run once